.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 526px;
    padding: 20px 40px;
    background-color: var(--color-base-content-background);
    border-radius: 8px;
}

.modal__title {
    margin: 0 0 8px;
    font-size: 16px;
}

.modal__input {
    width: 280px;
}
