.settings__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-grow: 1;
}

.settings__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.settings__item label {
    width: 100px;
    text-align: left;
}
