.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    gap: 16px;
    padding: 16px 0;
    background: var(--color-secondary-background);
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 24px;
}
