.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 24px;
}

.error-page__error-text {
    font-size: 36px;
    margin: 0;
}
