:root {
    --color-base-background: #383737;
    --color-secondary-background: #252121;
    --color-base-content-background: #453D3D;
    --color-base-font: #fff;
    --color-active: #08FF7F;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-base-background);
    color: var(--color-base-font);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inner-wrapper {
    display: flex;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 446px;
    padding: 20px 40px;
    background-color: var(--color-base-content-background);
    border-radius: 8px;
}

.modal__title {
    margin: 0 0 8px;
    font-size: 16px;
}

.modal__input {
    width: 280px;
}

.text-input {
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.text-input:focus {
    outline: none;
    border: 1px solid var(--color-active);
}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    background-color: var(--color-base-content-background);
}

.main-menu__search {
    width: 90%;
    margin: 0 auto;
}

.chat-list {
    display: flex;
    flex-direction: column;
}

.chat-list__item {
    padding: 16px 12px;
    cursor: pointer;
}

.chat-list__item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.chat-list__item:hover {
    background-color: var(--color-secondary-background);
}

.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat__user {
    padding: 16px;
    background-color: var(--color-base-content-background);
}

.chat__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    flex-grow: 1;
    gap: 16px;
    background-color: var(--color-secondary-background);
}

.message {
    position: relative;
    max-width: 460px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--color-base-content-background);
}

.message__time {
    position: absolute;
    top: calc(100% - 18px);
    left: calc(100% - 40px);
    font-size: 10px;
}

.chat__input {
    padding: 16px;
    background-color: var(--color-base-content-background);
    outline: none;
    border: none;
    color: inherit;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.settings-form__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.settings-form__item label {
    width: 100px;
    text-align: left;
}

.burger {
    width: 38px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
}

.burger span {
    display: block;
    height: 3px;
    border-radius: 999px;
    background: #fff;
}

.error-page__error-text {
    font-size: 36px;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 24px;
}

.button {
    display: block;
    padding: 8px;
    width: 120px;
    text-align: center;
    border: none;
    color: var(--color-base-font);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-secondary-background);
}