:root {
    --color-base-background: #383737;
    --color-secondary-background: #252121;
    --color-base-content-background: #453d3d;
    --color-base-font: #fff;
    --color-active: #08ff7f;
    --color-error: rgb(204, 63, 63);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-base-background);
    color: var(--color-base-font);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}
